node_modules
.next
dist
*.log
.env
.vercel
node_modules/
.next/
.env*
data/
*.log
node_modules/
.next/
.env*
data/
*.log
node_modules/
.next/
.env*
data/
*.log
node_modules/
.next/
.env*
data/
*.log
node_modules/
.next/
.env*
data/
*.log
